.engagement{
    padding: 20px ;
    
    background-color:#00564B;
}

.titre2{
    margin-top: 70px;
    text-align: center  ;
}
.engagement > .titre2 h2{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Macondo', cursive;
    color:wheat;
    font-size: 50px;
}

.cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align:left;
    flex-direction:row; 
    border-color: 8px solid black;
}

.eng {
    width: 20%;
  
}

.eng h3{
    font-size: 55px;
    color:white;
}

.eng h4{
    font-size: 25px;
    color:white;
}

.eng p{
    padding-top: 5px;
    color:white;
}

.separator{
    height: 100%;
    width: 5px;
    color:black;
}