.instructions{
    display: flex;
    padding: 20px ;
    margin-top: 60px;
    background-color:#F8F8F4;
}
 .titre {
  margin-top: 60px;  
  text-align: center;
  font-weight: bold;
  color:#00564B;
  font-size: 30px;
  width: 100%;
}

.description{
    display: flex;
    justify-content: space-around;
}
