footer{
    background-color:white;
     bottom:0;
}

.socials{
    display: flex;
    justify-content:center;
    padding: 10px 0;
 

}

.social{
    margin:0 10px;
}

.social img{
    width: 26px;
    height: 26px;
}

.social  :hover{
    transform: scale(1.1);
}
.social > .yt img{
    width: 26px;
    height: auto;
    padding-top: 5px;
    scale: 1.1;
}