footer{
    background-color:white;
    
}

.socials{
    display: flex;
    justify-content: bottom;
    padding: 20px 0;
    
}

.social{
    margin:0 10px;
}

.social img{
    width: 30px;
    height: auto;
}